{% extends "base.html" %}
{% load i18n %}
{% block title %}{% trans "sign up to"|title %} {{ block.super }}{% endblock title %}
{% block content %}
<h1>{% trans "sign up"|capfirst %}</h1>
<form method="post" action="{{ request.path }}">
    {% csrf_token %}
    <p>
        <label for="username">{% trans "username"|capfirst %}:</label>
        <input id="username" type="text" name="username" value="{{ request.POST.username }}">
    </p>
    <p>
        <label for="email">{% trans "e-mail"|capfirst %}:</label>
        <input id="email" type="email" name="email" value="{{ request.POST.email }}">
    </p>
    <p>
        <label for="password1">{% trans "password"|capfirst %}:</label>
        <input id="password1" type="password" name="password1">
    </p>
    <p>
        <label for="password2">{% trans "repeat password"|capfirst %}:</label>
        <input id="password2" type="password" name="password2">
    </p>
    <p><button type="submit">{% trans "confirm"|capfirst %}</button></p>
</form>
<p>{% trans "if you are have an account, you can"|capfirst %} 
    <a href="{% url "login" %}">{% trans "log in" %}</a> {% trans "instead" %}.</p>
{% endblock content %}