{% extends "base.html" %}
{% load static %}
{% load i18n %}
{% block content %}
  <h1>{% trans "albums"|capfirst %}</h1>
  <div class="album-list">
    {% for album in albums %}
      <a href="{% url 'album_detail' pk=album.pk %}" class="album-link">
        <div class="album">
          {% if album.cover %}
            <img src="{{ album.cover.url }}" alt="{{ album.title }} Cover">
          {% else %}
            <img src="{% static "img/default_album.jpg" %}" alt="{% trans "Default Album Cover" %}">
          {% endif %}
          <h2>{{ album.artist }}</h2>
          <p>{{ album.title }}</p>
        </div>
      </a>
    {% endfor %}
  </div>
{% endblock %}