{% extends "base.html" %}
{% load i18n static %}
{% block title %}{% trans "Home"|capfirst %} {{block.super}}{% endblock title %}
{% block content %}
  <section id="hero">
    <h1>{% trans "welcome to"|capfirst %} Sound Doctors</h1>
    <p>{% trans "your trusted destination for instrument repairs and maintenance"|capfirst %}.</p>
    <a href="{% url 'service_list' %}" class="btn btn-primary">See Our Services</a>
  </section>

  <section id="about">
    <h2>{% trans "about us"|capfirst %}</h2>
    <p>Learn about our passionate team of instrument repair experts and our commitment to quality. Click to learn more.</p>
    <a href="{% url 'about_us' %}" class="btn btn-secondary">{% trans "learn lore"|capfirst %}</a>
  </section>

  <section id="services">
    <h2>Our Services</h2>
    <p>Explore the services we offer to keep your musical instruments in top condition.</p>
    <a href="{% url 'service_list' %}" class="btn btn-secondary">View Services</a>
  </section>
</div>
{% endblock %}