{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% block content %}

  <h2>Service Orders</h2>
  
  <table class="styled-table">
    <thead>
      <tr>
        <th>Status</th>
        <th>Doctor</th>
        <th>Regular Service</th>
        <th>Custom Service</th>
        <th>Instrument</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      {% for order in service_orders %}
        <tr>
          <td>{{ order.get_status_display }}</td>

          <td>
            {% if order.doctor %}
              {{ order.doctor.first_name }} {{ order.doctor.last_name }}
            {% endif %}
          </td>

          <td>
            {% if order.regular_service %}
              {{ order.regular_service }}
            {% endif %}
          </td>

          <td>
            {% if order.custom_text %}
              <p> {{ order.custom_text }}</p>
            {% endif %}
            {% if order.custom_service %}
              {{ order.custom_service }}
            {% endif %}
          </td>

          <td>
            {% if order.instrument %}
              {{ order.instrument }}
            {% endif %}
          </td>

          <td>
            {% if order.status == 0 %}
              <form method="post" action="{% url 'cancel_order' order.id %}">
                {% csrf_token %}
                <button type="submit">Cancel</button>
              </form>
            {% endif %}
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}
