{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% block content %}
  <h2>Order Service</h2>
  <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <div>
      <label for="order_type">Order Type:</label>
      <select name="order_type" id="order_type">
        <option value="regular">Regular</option>
        <option value="custom">Custom</option>
      </select>
    </div>
    
    <div id="regular_order_form">
      {{ regular_service_form.as_p }}
      
      <!-- Add the doctor field for regular orders -->
      <label for="doctor">Doctor:</label>
      <select name="doctor" id="doctor">
        {% for doctor in doctors %}
          <option value="{{ doctor.id }}">{{ doctor.first_name }} {{ doctor.last_name }} - {{ doctor.specialization }}</option>
        {% endfor %}
      </select>
    </div>
    
    <div id="custom_order_form" style="display: none;">
      {{ custom_service_form.as_p }}
    </div>
    
    <button type="submit">Submit</button>
  </form>

  <script>
    document.getElementById('order_type').addEventListener('change', function() {
      var regularOrderForm = document.getElementById('regular_order_form');
      var customOrderForm = document.getElementById('custom_order_form');
      
      if (this.value === 'regular') {
        regularOrderForm.style.display = 'block';
        customOrderForm.style.display = 'none';
      } else if (this.value === 'custom') {
        regularOrderForm.style.display = 'none';
        customOrderForm.style.display = 'block';
      }
    });
  </script>
{% endblock %}