{% extends 'base.html' %}
{% load i18n static %}
{% block content %}
  <h2>{% trans "order service"|capfirst %}</h2>
  <form method="post" action="{% url 'order_service' %}" enctype="multipart/form-data" id="orderForm">
    {% csrf_token %}

    <label for="order_type">{% trans "Order Type"|capfirst %}:</label>
    <select name="order_type" id="order_type">
      <option value="regular">{% trans "Regular Order"|capfirst %}</option>
      <option value="custom">{% trans "Custom Order"|capfirst %}</option>
    </select>

    {{ regular_service_form.as_p }}
    {{ custom_service_form.as_p }}

    <button type="submit">{% trans "submit order"|capfirst %}</button>
  </form>
{% endblock %}