{% extends "base.html" %}
{% load static %}
{% load i18n %}
{% block content %}
    <h1>{% trans "service details"|capfirst %}</h1>
    <p><strong>{% trans "name"|capfirst %}:</strong> {{ service.name }}</p>
    <p><strong>{% trans "price"|capfirst %}:</strong> {{ service.price }} €</p>
    <p><strong>{% trans "about service"|capfirst %}:</strong> {{ service.about|safe }}</p>
<h2>Reviews</h2>
    {% if user.is_authenticated %}
    <form method="post" action="{{ request.path }}">
        {% csrf_token %}
        {{ form.as_p }}
        <p><button type="submit">Post Review</button></p>
    </form>
    {% endif %}
    {% if book.reviews.all %}
    <ul class="nice-list">
        {% for review in book.reviews.all %}
            <li>
                <h4>
                    <span>{{ review.reviewer }}</span>
                    <span class="float-right">{{ review.created_at}}</span>
                </h4>
                {{ review.content}}
            </li>
        {% endfor %}
    </ul>
    {% endif %}
{% endblock content %}