{% extends "base.html" %}
{% load static %}
{% load i18n %}
{% block content %}
    <h1>{% trans "service"|capfirst %}</h1>
    <table class="styled-table">
        <thead>
            <tr>
                <th>{% trans "name"|capfirst %}</th>
                <th>{% trans "price"|capfirst %}</th>
                <th>{% trans "about service"|capfirst %}</th>
            </tr>
        </thead>
        <tbody>
            {% for service in services %}
            <tr>
                <td>
                    {% if user.is_authenticated %}
                        <a href="{% url 'book_service' %}?service_id={{ service.id }}">{{ service.name }}</a>
                    {% else %}
                        {{ service.name }}
                    {% endif %}
                </td>
                <td>{{ service.price }} €</td>
                <td>{{ service.about|safe }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock content %}