<!DOCTYPE html>
{% load static i18n %}
{% get_current_language as LANGUAGE_CODE %}
{% get_available_languages as LANGUAGES %}
<html lang="{{ LANGUAGE_CODE }}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% trans "sound doctors"|title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static "css/base_style.css" %}">
    <link rel="icon" href="{% static 'img/note.svg' %}" type="image/svg">
</head>
<body class="index-page">
    <header>
        <nav>
            <ul class="nav">
                <li><a href="{% url 'index' %}">{% trans "home"|capfirst %}</a></li>
                <li><a href="{% url 'service_list' %}">{% trans "services"|capfirst %}</a></li>
                <li><a href="{% url 'doctor_list' %}">{% trans "staff"|capfirst %}</a></li>
                <li><a href="{% url 'album_list' %}">{% trans "albums"|capfirst %}</a></li>
                <li><a href="{% url 'about_us' %}">{% trans "about us"|capfirst %}</a></li>
                <li class="spacer"></li>
                <li class="account-dropdown">
                    <a href="#" class="account-trigger">{% trans "My Account"|title %}</a>
                    <div class="dropdown-content">
                        {% if user.is_authenticated %}
                            <a href="{% url "regular_service_order" %}">{% trans "ordering"|title %}</a>
                            <a href="{% url "custom_service_order" %}">{% trans "custom ordering"|title %}</a>
                            <a href="{% url "order_list" %}">{% trans "service orders"|title %}</a>
                            <a href="{% url "album_order_list" %}">{% trans "album orders"|title %}</a>
                            {% if user.is_superuser or user.is_staff %}
                                <a href="{% url "admin:index" %}">{% trans "admin"|title %}</a>
                            {% endif %}
                            <a href="{% url "profile" %}">{% trans "My profile"|title %}</a>
                            <a href="{% url "logout" %}">{% trans "logout"|title %}</a>
                        {% else %}
                            <a href="{% url "login" %}">{% trans "login"|title %}</a>
                            <a href="{% url "signup" %}">{% trans "sign up"|title %}</a>
                        {% endif %}
                    </div>
                </li>
            </ul>
        </nav>
    </header>
    <main>
        {% if messages %}
            {% for message in messages %}
                <div class="box box-{{ message.tags }}">
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}
        {% block content%}
        {% endblock content%}
    </main>
    <footer>
        <p>&copy; <a href="{% url "index" %}">{% trans "sound doctors"|title %}</a></p>
    </footer>
</body>
<style>
    body.index-page {
        background-image: url('static/img/recept.jpg');
        background-size: cover; /* Adjust as needed */
        background-position: center; /* Adjust as needed */
        background-repeat: no-repeat;
    }
</style>
</html>